.title {
  text-align: center;
}

.text {
  text-align: center;
}

.ratingField {
  text-align: center;
  margin-top: 0.5rem;
}

.commentField {
  margin-top: 1rem;
}

.acitons {
  margin-top: 1rem;
  justify-content: center;
}

.error {
  color: red;
}
